body { 
    font-family: sans-serif; 
    margin: 5px; 
    padding: 10px 20px;
}

table { 
    border-spacing: 10; 
    border-collapse: collapse; 
}

thead tr th { 
    border-bottom: 2px solid #000;
}

td { 
    padding: 6px;
}
